
<p>This is the control panel for the dummy server. To get started,</p>
<ul>
  <li>Start and configure BuildNotifications with the <strong>dummy plugin</strong></li>
  <li>Add dummy <strong>user, definitions</strong> and <strong>branches</strong></li>
  <li>Create builds based on these mock data and start developing with BuildNotifications</li>
</ul>
<p>Duplicate values are <code>forbidden.</code> Each value is persisted on the device the server is hosted.</p>

<div class="row">
  <div class="col">
    <div>
      <img style="float:left" src="img/Branch.svg" />
      <div class="content-heading mx-5">
        <code>
          <h3>Branches</h3>
        </code>
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" #branchBox (keyup.enter)="newBranch(branchBox.value)" placeholder="New branch (enter to confirm)">
    </div>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="branches">
      <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let branch of branches">
        <td>{{ branch.fullName }}</td>
        <td class="text-right">
          <button class="btn btn-outline-danger text-right" (click)="deleteBranch(branch.fullName)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <div>
      <img style="float:left" src="img/Definition.svg" />
      <div class="content-heading mx-5"><code><h3>Definitions</h3></code></div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" #definitionBox (keyup.enter)="newDefinition(definitionBox.value)" placeholder="New definition (enter to confirm)">
    </div>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="definitions">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let definition of definitions">
          <td>{{ definition.name }}</td>
          <td class="text-right">
            <button class="btn btn-outline-danger text-right" (click)="deleteDefinition(definition.name)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <div>
      <img style="float:left" src="img/Person.svg" />
      <div class="content-heading mx-5">
        <code>
          <h3>User</h3>
        </code>
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" #userBox (keyup.enter)="newUser(userBox.value)" placeholder="New user (enter to confirm)">
    </div>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users">
      <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.uniqueName }}</td>
        <td class="text-right">
          <button class="btn btn-outline-danger text-right" (click)="deleteUser(user.uniqueName)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<p>Builds are <code>not persisted</code> and will only live as long as the server is running. Use the buttons below to quickly generate data to work with. Additionally the status of each build may be set manually.</p>

<div class="row my-2">
  <div class="col-3">
    <button class="btn btn-primary text-right">Permutate</button>
  </div>
  <div class="col">
    <label>
      Permutates through all user, definitions and branches and creates a
      <code>queued</code> build for each.
    </label>
  </div>
</div>

<div class="row my-2">
  <div class="col-3">
    <button class="btn btn-secondary text-right">Randomize all build status</button>
  </div>
  <div class="col">
    <label>Randomize each build status</label>
  </div>
</div>

<p *ngIf="!builds">
  <em>Loading...</em>
</p>

<div class="row">
  <div class="col">
    <h1>Builds</h1>
    <div class="form-group">
      [ToDo]
    </div>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="builds">
      <thead>
      <tr>
        <th>Id</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let build of builds">
        <td>{{ build.id }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
