<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd">

	<targets>
		<target name="debugger" xsi:type="Debugger"
		        layout="${time} ${message}${exception:format=ToString} at ${logger}"/>
		<target name="debuggerInfo" xsi:type="Debugger"
		        layout="--------------------------------------------${newline}${time} ${message}${exception:format=ToString}${newline}--------------------------------------------"/>
		<target name="debuggerWarn" xsi:type="Debugger"
		        layout="${newline}${newline}${shortdate} Warning: Warning ${message}${exception:format=ToString} at ${logger}${newline}${newline}"/>
		<target name="debuggerError" xsi:type="Debugger"
		        layout="${newline}${newline}${shortdate} Error: Error ${message}${exception:format=ToString} at ${logger}${newline}${newline}"/>
		<target name="globalErrorLog" type="GlobalErrorLog" layout="${message}"/>
		<target name="file" xsi:type="File" maxArchiveFiles="5" archiveOldFileOnStartup="true"
		        layout="${longdate} ${logger} ${message}${exception:format=ToString}"
		        fileName="${basedir}/../data/logs/${gdc:item=application}/${shortdate}.log"
		        keepFileOpen="true"
		        encoding="utf-8"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" maxLevel="Debug" writeTo="debugger"/>
		<logger name="*" minlevel="Info" maxLevel="Info" writeTo="debuggerInfo"/>
		<logger name="*" minlevel="Warn" maxLevel="Warn" writeTo="debuggerWarn"/>
		<logger name="*" minlevel="Error" maxLevel="Error" writeTo="debuggerError"/>
		<logger name="*" minlevel="Debug" writeTo="file"/>
		<logger name="*" minlevel="Warn" maxLevel="Error" writeTo="globalErrorLog"/>
	</rules>


</nlog>