<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="debugger" xsi:type="Debugger" layout="${logger}::${message}" />
    <target name="globalErrorLog" type="GlobalErrorLog" />
    <target name="file" xsi:type="File" maxArchiveFiles="5" archiveOldFileOnStartup="true"
            layout="${longdate} ${logger} ${message}${exception:format=ToString}" 
            fileName="${basedir}/logs/${gdc:item=application}/${shortdate}.log" 
            keepFileOpen="true"
            encoding="utf-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Warn" maxLevel="Error" writeTo="globalErrorLog" />
  </rules>


</nlog>