name: CI Build

on: [push]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Java for CodeCoverage results
      if: ${{ github.ref == 'refs/head/develop' }}
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        
    - name: Install .NET 5.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.x'
      
    - name: Download Coverage reporter
      if: ${{ github.ref == 'refs/head/develop' }}
      run: Invoke-WebRequest -Uri 'https://github.com/codacy/codacy-coverage-reporter/releases/download/11.2.2/codacy-coverage-reporter-assembly-11.2.2.jar' -UseBasicParsing -OutFile  ./codacy-test-reporter.jar

    - name: Build 
      run: dotnet build BuildNotifications.sln --configuration Release
    
    - name: Run tests
      run: dotnet test BuildNotifications.sln --no-build --configuration Release -r CoverageResults --collect:"XPlat Code Coverage"
    
    - name: Upload code coverage
      run: Scripts/upload-code-coverage.ps1 -token ${{ secrets.CODACY_PROJECT_TOKEN }}
      if: ${{ github.ref == 'refs/head/develop' }}
